{% extends "app_poke_api/index.html" %}

{% block content %}
{% load static %}

<img src="{% static 'app_poke_api/images/poke.jpg' %}" class="image" style="width:600px; margin-left:600px; ">

<nav class="navbar navbar-light bg-light bg-primary">
    <form method="post" class="col-md"">
      {% csrf_token %}
      <div class=" input-group">
      <input type="text" class="form-control" name="pokemon" placeholder="Escribe el nombre del pokemon...">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
      </div>
      <form>
</nav>
<div class="row">
 {% if number and name and sprite and ability and type%}

    <div class="col d-flex justify-content-center" ">
        <div class=" card text-white bg-light mb-5">
        <div class=" card-body">
          <h4><span class="badge badge-primary" style="color: #ed1b24">Numero :</span> {{number}}</h4>
          <h4><span class="badge badge-primary" style="color: #ed1b24">Nombre :</span> {{name}}</h4>
          <h4><span class="badge badge-primary" style="color: #ed1b24">Habilidad principal:</span> {{ability}}</h4>
          <h4><span class="badge badge-primary" style="color: #ed1b24">Clase :</span> {{type}}</h4>
          <img src="{{sprite}}" alt="{{name}} sprite" style="width:280px">
        </div>

 {% endif %}
</div>
{% endblock %}